.comment {
    margin-top: 2rem;

    .bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 12px;
        margin-bottom: 1rem;

        .unliked {
            cursor: pointer;
            background-color: dodgerblue;
            border: 0;
            outline: 0;
            padding: 3px 1rem;
            border-radius: 50px;
            font-size: 12px;
            font-weight: bold;
            color: white;
            width: 80px;
        }

        .liked {
            cursor: pointer;
            background-color: navy;
            border: 0;
            outline: 0;
            padding: 3px 1rem;
            border-radius: 50px;
            font-size: 12px;
            font-weight: bold;
            color: white;
            width: 80px;
        }
    }

    form {

        textarea {
            width: 100%;
            outline: 0;
            border: 1px solid black;
            padding: 1rem;
        }

        .submit {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-top: 1rem;

            button {
                background-color: black;
                outline: 0;
                border: 0;
                color: white;
                border-radius: 50px;
                padding: 3px 1rem;
                cursor: pointer;
            }
        }
    }

    .conversations {
        margin-top: 2rem;
        border-top: 1px solid lightgray;

        .comm {
            font-size: 12px;
            margin-top: 1rem;
            background-color: aliceblue;
            padding: 5px 10px;
            display: flex;
            align-items: center;

            .user {
                margin-right: 2rem;
            }
        }
    }
}