.news {
    padding-bottom: 2rem;

    .journalist {
        margin-top: 5px;
        color: darkslategrey;
        text-align: right;
    }

    .body {
        margin-top: 1rem;
    }

    .image {
        width: 100%;
        margin-top: 1rem;
    }
}